@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    background-color: #eef0ef;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar {
    max-width: 1260px;
    margin: auto;
}

.navbar a img {
    width: 200px;
}

.navbar a {
    color: #104495;
    font-size: 18px;
    padding-bottom: 0pc;
}

.navbar a.active {
    border-bottom: 5px solid #EC681D;
}

.navbar a:hover {
    color: #225fc2;
}

#content-botons-register .btn {
    color: white;
    background-color: #EC681D;
    font-family: 'Montserrat-Bold';
    border-radius: 8px;
    padding: 7px 14px;
    margin-left: 10px;
}

#content-botons-register .btn:hover {
    background-color: #ce6324;
}

/* .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  } */

/* DROPDOWN SELF */

.dropdown_self {
    position: relative;
}

.subdropdown_self {
    position: relative;
}

.dropbtn {
    background: none;
    color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.subdropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 290px;
    top: 36px;
    text-align: center;
}

.subdropdown-content a{
    color: #104495;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a {
    color: #104495;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li {
    list-style: none;
}

.subdropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.subdropdown_self:hover .subdropdown-content {
    display: block;
}

.dropdown_self:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #EC681D;
}

.desactivate {
    display: none;
}

footer {
    background-color: #76797b;
    margin-top: 130px;
}

#imagenlogo {
    margin-bottom: 63px;
}

footer h4 {
    color: white;
    font-size: 20px;
}

#imagenlogo img {
    margin-top: -69px;
}

footer ul li {
    list-style: none;
    display: inline;
}

footer ul li img {
    width: 27px;
}