@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
}


header{
    height: 80px;
    background-color: #eef0ef;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar{
    max-width: 1260px;
    margin: auto;
}

.navbar a img{
    width: 200px;
}

.navbar a{
    color: #104495;
    font-size: 18px;
    padding-bottom: 0pc;
}

.navbar a.active{
    border-bottom: 5px solid #EC681D;
}

.navbar a:hover{
    color: #225fc2;
}

#content-botons-register .btn{
    color: white;
    background-color: #EC681D;
    font-family: 'Montserrat-Bold';
    border-radius: 8px;
    padding: 7px 14px;
    margin-left: 10px;
}

#content-botons-register .btn:hover{
    background-color: #ce6324;
}


.desactivate {
    display: none;
}

footer{
    background-color: #76797b;
    margin-top: 130px;
}

#imagenlogo{
    margin-bottom: 63px;
}

footer h4{
    color: white;
    font-size: 20px;
}

#imagenlogo img{
    margin-top: -69px;
}

footer ul li{
    list-style: none;
    display: inline;
}

footer ul li img{
    width: 27px;
}
