* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat-Regular';
}

main {
    margin-bottom: 40px;
    height: 100vh !important;
}

.container {
    position: relative;
    top: 0px;
    padding-top: 140px;
}

.container .row div .card {
    margin-top: 0px !important;
}

.botones-edit {
    margin-top: 40px;
}

.botones-edit a {
    background-color: #EC681D;
    color: white;
    padding: 10px 20px;
}

.botones-edit a:hover {
    background-color: #ce6324;
    color: white;
    border: none;
}