* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat-Regular';
}

#video-content{
    position: relative;
    width: 100%;
}

#video-content .text{
    z-index: 1;
    position: relative;
    top: 210px;
    max-width: 500px;
    margin-left: 70px;
}

#video-content .text h1{
    color: white;
    border-left: 8px solid white;
    padding-left: 20px;
}

#video_background{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    min-width: 100%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: 1;
}

#main-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/main-section.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#main-section #content {
    margin-top: 246px;
}

#contain-title {
    border-left: 8px solid white;
    padding-left: 20px;
}

#contain-title h1 {
    color: white;
    font-family: 'Montserrat-Bold';
}

#btn-vermas {
    margin-left: 24px;
}

#btn-vermas a {
    background-color: #EC681D;
    color: white;
    font-size: 29px;
    border-radius: 8px;
    padding: 3px 27px;
}

#btn-vermas a:hover {
    background-color: #ce6324;
}

#places-section{
    margin-top: 460px;
}

#places-section h1 {
    color: #104495;
    font-family: 'Montserrat-Bold';
    width: 70%;
    font-size: 40px;
    margin: 50px auto 0px auto;
}

#places-section p {
    color: #104495;
    font-size: 20px;
}

.imagen-pruebas {
    /*background-image: url('../images/main-section.jpg');*/
    background-size: cover;
    background-position: center;
    height: 200px;
}

.imagen-pruebasshort {
    /*background-image: url('../images/main-section.jpg');*/
    background-size: cover;
    background-position: center;
    height: 200px;
}

.imagen-pruebas h3 {
    background-color: rgba(238, 240, 239, 0.8);
    font-size: 25px;
    color: #35A037;
    font-family: 'Montserrat-Bold';
    border-bottom: 1px solid #104495;
    border-right: 1px solid #104495;
    padding: 5px;
    text-align: center;
}

.imagen-pruebasshort h3 {
    background-color: rgba(238, 240, 239, 0.8);
    font-size: 20px;
    color: #35A037;
    font-family: 'Montserrat-Bold';
    border-bottom: 1px solid #104495;
    border-right: 1px solid #104495;
    padding: 5px;
    min-height: 85px;
    text-align: center;
}

/* Noticias */

#notices-section {
    margin-top: 70px;
}

#notices-section h1 {
    font-family: 'Montserrat-Bold';
    color: #104495;
    font-size: 45px;
    text-align: center;
}

#notices-section p {
    font-family: 'Montserrat-Regular';
    color: #104495;
    font-size: 20px;
    text-align: center;
}

#notices-section #no-notices p{
    margin-top: 50px;
    font-size: 30px;
}

.arrows {
    background-color: #a7aaaa;
    border-radius: 50%;
    height: 60px;
    width: 60px !important;
    padding: 0px;
    top: 130px !important;
}

#row-notices h3 {
    color: #104495;
    font-size: 40px;
    font-family: 'Montserrat-Bold';
}

/* Suscripción */

#suscribete-container {
    background-color: #104495;
    padding: 20px 0px 20px 0px;
}

.content-mesaje {
    height: 200px;
    margin-top: 50px;
}

#suscribete-section {
    height: 300px;
}

#suscribete-section h1 {
    font-size: 25px;
    color: white;
    margin-top: 40px;
    text-align: left;
}

#suscribete-container #form-content h3 {
    font-size: 35px;
    color: white;
}

#suscribete-container #form-content button {
    position: absolute;
}

#suscribete-container #form-content button img {
    width: 24px;
}

.content-search {
    margin-top: 50px;
}

.content-search input {
    width: 100% !important;
    padding: 25px;
    border-radius: 20px;
}

.content-search button {
    left: 87%;
    border-radius: 24px;
    background-color: white;
    padding: 10px;
    border: none;
}

.content-search button:hover {
    background-color: rgb(179, 179, 179);
}

@media(max-height: 815px) {
    #main-section #content {
        margin-top: 328px;
    }
}

@media(max-height: 715px) {
    #main-section #content {
        margin-top: 246px;
    }
}