* {
    font-family: 'Montserrat-Regular';
}

main {
    min-height: 100vh !important;
}

#content-heading {
    padding-top: 80px;
}

#imagen-presentation {
    content: "";
    background-image: url(../../images/deporte-main.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

#imagen-presentation h3 {
    background-color: white;
    height: 50px;
    width: 60%;
    text-align: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat-Bold';
    color: #104495;
    font-size: 35px;
}

.box-example {
    height: 250px;
    width: 25%;
    display: inline-block;
}

.box-example .imagen {
    content: "";
    width: 100%;
    background-color: #104495;
    margin: auto;
    height: 100%;
}

.box-example h3 {
    color: #104495;
    font-size: 30px;
    font-family: 'Montserrat-Bold';
}

.box-example a:hover > h3 {
    color: #104495;
    font-size: 28px;
    font-family: 'Montserrat-regular';
}

.arrows {
    background-color: #a7aaaa;
    border-radius: 50%;
    height: 60px;
    width: 60px !important;
    padding: 0px;
    top: 130px !important;
}

.info-sport span{
    font-weight: bold;
    color: black;   
}

.info-sport span{
    font-weight: bold;
    color: #104495;   
}

.imagen-content{
    content: "";
    width: 400px;
    background-color: blue;
    height: 300px;
    margin-left: -15px;
}